# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# If you're using PyCharm
.idea/

# If you're using VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
bin/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Miscellaneous
*.pot
*.mo
*.bak
*.~
*~
\#*\#
.env.local
.env.dev
.env.prod
node_modules/
